.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.wrapperTable {
    width: 100%;
    max-width: 1920px;
    padding: 30px;
    box-sizing: border-box;
}